.portfolio-space {
text-align: center;
}

#logoStyle {
  width: 75px;
}
.center-nav {
  font-size: 20px;
  font-weight: bolder;
  padding-top: 20px;
}

hr.star-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: auto;
  border: 0;
  border-top: solid 5px;
  text-align: center;
}

.mighty {
  font-size: 30px;
  text-align: center;
}
.portfolio {
  margin-top: 29px;
  width: 100%;
}
.port-item {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  margin: auto;
}
div.cSize {
width: 70%; /* for example */
display: flex;
margin-left: auto;
margin-right: auto;
margin: auto;
}

@media only screen and (max-width: 768px) {
 div.cSize {
   display: none
 } 
 .port-item {
  margin-bottom: 16px;
} 
.img-responsive {
  width: 100%;
}

}



@media only screen and (min-width: 768px) {
  .port-item {
    display: none
  } 
 }